/*** slide ***/
.flexslider .slide {
/*    display: none; */
    -webkit-backface-visibility: hidden;
}
.flexslider {
    position: relative;
    zoom: 1;
    padding-top: 10px;
    padding-left: 10px;
    background: black;
  height: 264px;
  width: 470px;
  color: white;
} 
.slide {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  color: black;
  display: none;
}
.active{
  z-index:99; /* double tutorial... display none or this, not both */
  display: block;
}

nav {
  width: 100%;
  margin-top: -12px; /* into -16px margin */
  margin-bottom: 1em;
}
nav div {
  margin-left:120px;
}

#nav {
  z-index: 100;
  background: rgba(100,100,100,50);
}
#nav a { /*, #nav a:link, #nav a:visited { */
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  border-radius: 25px;
  background: rgba(100,100,100,.55);
  padding: 0 6px 6px 6px; /* funky arrow eyeballs ok */
  /* &lt, &#x21a4; */
}
#nav a.back {
  position: absolute;
  z-index: 100;
  left: -10px;
  top: 45%;
}
#nav .fwd {
  position: absolute;
  z-index: 100;
  top: 45%;
  right: -10px;
}

/*** misc ***/

#slideshow-2 img {
  border-right: 2px solid white; /* not ideal! */
} 

/*** Rebuild for Chapters ***/
#cycle-1 { float: left; height: 301px; width: 480px;}

/*** Standards ***/

div.slide {
  height: 264px;
  width: 470px;
  border: 1px solid blue;
  overflow: none; /* right now, just for .CP img   of book */
  padding: 4px;
  margin-bottom: 1em;
}

